@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Geist+Mono:wght@600&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@source "../../../packages/ui/auth";
@source "../../../packages/ui/callbreak";
@source "../../../packages/ui/fish";
@source "../../../packages/ui/primitives";
@source "../../../packages/ui/shared";
@source "../../../packages/ui/splendor";
@source "../../../packages/ui/wordle";

@custom-variant apple-light (&:is(.apple.light *));
@custom-variant apple-dark (&:is(.apple.dark *));
@custom-variant orange-light (&:is(.orange.light *));
@custom-variant orange-dark (&:is(.orange.dark *));
@custom-variant mango-light (&:is(.mango.light *));
@custom-variant mango-dark (&:is(.mango.dark *));
@custom-variant banana-light (&:is(.banana.light *));
@custom-variant banana-dark (&:is(.banana.dark *));
@custom-variant olive (&:is(.olive.light *));
@custom-variant olive-dark (&:is(.olive.dark *));
@custom-variant kiwi-light (&:is(.kiwi.light *));
@custom-variant kiwi-dark (&:is(.kiwi.dark *));
@custom-variant ice-light (&:is(.ice.light *));
@custom-variant ice-dark (&:is(.ice.dark *));
@custom-variant blueberry-light (&:is(.blueberry.light *));
@custom-variant blueberry-dark (&:is(.blueberry.dark *));
@custom-variant grape-light (&:is(.grape.light *));
@custom-variant grape-dark (&:is(.grape.dark *));
@custom-variant strawberry-light (&:is(.strawberry.light *));
@custom-variant strawberry-dark (&:is(.strawberry.dark *));

:root {
	--neutral-dark: #1F1F1F;
	--neutral-light: #F3F4F6;
	--surface-light: #F3F4F6;
	--surface-dark: #1F1F1F;
	--accent: #808080;

	--apple: #FF6B6B;
	--orange: #FD9745;
	--mango: #FFBF00;
	--banana: #FFDC58;
	--olive: #A4C639;
	--kiwi: #00BD84;
	--ice: #00C8F0;
	--blueberry: #0099FF;
	--grape: #A388EE;
	--strawberry: #FC64AB;
}

.apple {
	--surface-light: #FFE0E0;
	--surface-dark: #2B0F12;
	--accent: var(--apple);
}

.orange {
	--surface-light: #FFE3CF;
	--surface-dark: #2B1608;
	--accent: var(--orange);
}

.mango {
	--surface-light: #FFEFCC;
	--surface-dark: #2A1F00;
	--accent: var(--mango);
}

.banana {
	--surface-light: #FFF6CC;
	--surface-dark: #2A2408;
	--accent: var(--banana);
}

.olive {
	--surface-light: #F7FFE5;
	--surface-dark: #1A2B0E;
	--accent: var(--olive);
}

.kiwi {
	--surface-light: #D0FBEA;
	--surface-dark: #0E201D;
	--accent: var(--kiwi);
}

.ice {
	--surface-light: #D6F6FC;
	--surface-dark: #08242B;
	--accent: var(--ice);
}

.blueberry {
	--surface-light: #D6ECFF;
	--surface-dark: #081E2B;
	--accent: var(--blueberry);
}

.grape {
	--surface-light: #E8E0FB;
	--surface-dark: #1C1430;
	--accent: var(--grape);
}

.strawberry {
	--surface-light: #FFD9EB;
	--surface-dark: #2B0E1F;
	--accent: var(--strawberry);
}

.light {
	--ring: #000000;
	--surface: var(--surface-light);
	--inverted-surface: var(--surface-dark);
	--foreground: var(--neutral-dark);
	--background: var(--neutral-light);
}

.dark {
	--ring: #FFFFFF;
	--surface: var(--surface-dark);
	--inverted-surface: var(--surface-light);
	--foreground: var(--neutral-light);
	--background: var(--neutral-dark);
}

@theme inline {
	--color-accent: var(--accent);
	--color-surface: var(--surface);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-inverted-surface: var(--inverted-surface);

	--color-ring: var(--ring);
	--color-neutral-dark: var(--neutral-dark);
	--color-neutral-light: var(--neutral-light);
	--color-surface-light: var(--surface-light);
	--color-surface-dark: var(--surface-dark);
	--color-overlay: #000000cc;

	--color-apple: var(--apple);
	--color-orange: var(--orange);
	--color-mango: var(--mango);
	--color-banana: var(--banana);
	--color-olive: var(--olive);
	--color-kiwi: var(--kiwi);
	--color-ice: var(--ice);
	--color-blueberry: var(--blueberry);
	--color-grape: var(--grape);
	--color-strawberry: var(--strawberry);

	--spacing-boxShadowX: -2px;
	--spacing-boxShadowY: 4px;
	--spacing-reverseBoxShadowX: -2px;
	--spacing-reverseBoxShadowY: -4px;
	--radius-base: 5px;
	--shadow-shadow: -2px 4px 0px 0px #000000;

	--font-heading: "Fjalla One", serif;
	--font-base: "Geist Mono", monospace;
	--font-weight-base: 600;
	--font-weight-heading: 700;
}

@layer base {
	* {
		@apply border-black;
	}

	body {
		@apply bg-surface text-foreground font-base;
	}
}

#root {
	isolation: isolate;
}

@view-transition {
	navigation: auto;
}