@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Geist+Mono:wght@600&display=swap');

@import "tailwindcss";
@import "tw-animate-css";

@source "../../../packages/ui/auth";
@source "../../../packages/ui/callbreak";
@source "../../../packages/ui/fish";
@source "../../../packages/ui/primitives";
@source "../../../packages/ui/shared";
@source "../../../packages/ui/wordle";

:root {
	--background: #ffffff;
	--border: #000000;
	--foreground: #000000;
	--main: #ffffff;
	--overlay: #000000cc;
	--ring: #ffffff;
	--shadow: -2px 4px 0px 0px var(--border);
	--secondary-background: #ffffff;
	--main-foreground: #000000;
}

@theme inline {
	--color-main: var(--main);
	--color-background: var(--background);
	--color-secondary-background: var(--secondary-background);
	--color-foreground: var(--foreground);
	--color-main-foreground: var(--main-foreground);
	--color-border: var(--border);
	--color-overlay: var(--overlay);
	--color-ring: var(--ring);

	--spacing-boxShadowX: -2px;
	--spacing-boxShadowY: 4px;
	--spacing-reverseBoxShadowX: --2px;
	--spacing-reverseBoxShadowY: -4px;
	--radius-base: 5px;
	--shadow-shadow: var(--shadow);

	--font-heading: "Fjalla One", serif;
	--font-base: "Geist Mono", monospace;
	--font-weight-base: 600;
	--font-weight-heading: 700;
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-main-foreground font-base;
	}
}

#root {
	isolation: isolate;
}

@view-transition {
	navigation: auto;
}