@layer theme, components, base, utilities;

@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
	--color-main: var(--main);
	--color-overlay: var(--overlay);
	--color-bg: var(--bg);
	--color-bw: var(--bw);
	--color-blank: var(--blank);
	--color-text: var(--text);
	--color-mtext: var(--mtext);
	--color-border: var(--border);
	--color-ring: var(--ring);
	--color-ring-offset: var(--ring-offset);
	--color-secondary-black: #212121;

	--radius-base: 5px;
	--shadow-shadow: var(--shadow);
	--translate-box-shadow-x: var(--box-shadow-x);
	--translate-box-shadow-y: var(--box-shadow-y);
	--translate-reverse-box-shadow-x: var(--reverse-box-shadow-x);
	--translate-reverse-box-shadow-y: var(--reverse-box-shadow-y);

	--font-weight-base: var(--base-font-weight);
	--font-weight-heading: var(--heading-font-weight);
}

@layer base {

	:root {
		--main: #fff;
		--overlay: rgba(0, 0, 0, 0.8);
		--bg: #fff;
		--bw: #ffffff;
		--blank: #000000;
		--border: #000000;
		--text: #000000;
		--mtext: #000000;
		--ring: #000000;
		--ring-offset: #ffffff;

		--border-radius: 5px;
		--box-shadow-y: 4px;
		--box-shadow-x: 4px;
		--reverse-box-shadow-x: -4px;
		--reverse-box-shadow-y: -4px;
		--base-font-weight: 700;
		--heading-font-weight: 800;

		--shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-bg text-text
	}
}
